<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="register.component.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

   <title>Responsive Regisration Form </title>
</head>
<header><div class="app-header">
    <app-header></app-header>
    </div></header>
<body>
    
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nom</label>
                            <input type="text" placeholder="Enter your last name" required [(ngModel)]="lastname" [ngModelOptions]="{ standalone: true }">
                        </div>

                        <div class="input-field">
                            <label>Prenom</label>
                            <input type="text" placeholder="Enter your first name" required [(ngModel)]="firstname" [ngModelOptions]="{ standalone: true }">
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" [(ngModel)]="dateOfBirth" [ngModelOptions]="{ standalone: true }">
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required [(ngModel)]="email" [ngModelOptions]="{ standalone: true }">
                        </div>

                        <div class="input-field">
                            <label>Genre</label>
                            <select required [(ngModel)]="gender" [ngModelOptions]="{ standalone: true }">
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                
                            </select>
                        </div>
                        
                        <div class="input-field">
                            <label>Profil</label>
                            <select required [(ngModel)]="profil" [ngModelOptions]="{ standalone: true }">
                                <option disabled selected>Selectionne ton Profil</option>
                                <option>Ingénieur</option>
                                <option>Téchnicien</option>
                                <option>Administrateur</option>
                            </select>
                        </div>
                       
                        <div class="input-field">
                            <label>Role</label>
                            <select required [(ngModel)]="role" [ngModelOptions]="{ standalone: true }">
                                <option disabled selected>Selectionne ton Role</option>
                                <option>Responsable tâche</option>
                                <option>Responsable projet</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Password</label>
                            <input type="password" placeholder="Enter your Password" required [(ngModel)]="password" [ngModelOptions]="{ standalone: true }">
                        </div>
                    </div>
                </div>

                

            
                <div class="details family">
                    <span class="title"></span>

                    

                    <div class="buttons">
                       
                        
                        <button class="sumbit" (click)="onSubmit()">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>
