<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faFile"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{numberOfProjects}}</div>
        <div class="bottom">Nombre de projets</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faCheckSquare"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{numberOfTasks}}</div>
        <div class="bottom">Nombre de tâches</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faUsers"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{numberOfUsers}}</div>
        <div class="bottom">Nombre de Fonctionnaires</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{totalPm}}PM</div>
        <div class="bottom">Total coût des projets</div>
      </div>
    </div>
  </div>